$layout-color-border: black !default;
$layout-color-background: #fdfdfd !default;
$layout-color-syntax-highlighting-background: #fafafa !default;
$layout-responsive-nav-cutoff: 1024px !default;
$base-text-decoration-thickness: 5px !default;
$base-font-family: "Hack Nerd Font Mono" !default;

html,
body {
  overflow-x: hidden;
}

html {
  header {
    white-space: nowrap;
    color: #000 !important;
    text-decoration-style: dotted;
  }

  footer {
    .container {
      z-index: 500;
      border-top: 2px solid $layout-color-border;
      border-left: 2px dashed $layout-color-border;
      border-right: 2px dashed $layout-color-border;
    }
  }
}

#page-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
}

#content-container {
  flex: 1;
  padding-top: 1.5rem;
}

#main {
  width: 98%;
  margin-top: 2px;
  margin-left: 1%;
  margin-right: 1%;
}

body {
  position: relative;
  font-family: $base-font-family;
  background-color: $layout-color-background !important;

  .container {
    border-left: 2px solid $layout-color-border;
    border-right: 2px solid $layout-color-border;
  }

  #content-container a {
    color: black;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-decoration-color: blue;
    line-height: 140%;

    &:hover {
      color: white;
      background-color: black;
    }
  }
}

.asciinema {
  margin: auto;

  span {
    line-height: 1.6rem;
    overflow: visible;
    margin: 0;
  }
}

header {
  color: black;

  h2 {
    font-family: "Latex Italic";
    font-style: normal;
    text-decoration-style: dotted;
  }
}

#nav-header {
  font-family: "Latex Regular";
  color: black;
  text-decoration-thickness: $base-text-decoration-thickness;
}

img.mystery-green-area {
  visibility: hidden;
}

.mystery-green-area {
  font-size: 1.1rem;
  border: 0px dotted rgba(0, 128, 0, 0.9);
  opacity: 1;
  transition: opacity 2.5s ease-in-out;
  transition-delay: 3s;
}

.mystery-green-area:hover {
  transition: opacity 1s ease;
  transition-delay: 0.8s;
  transition: border 1s ease;
}

#nav-container {
  height: 4.9rem;
  border-left: 2px dashed $layout-color-border;
  border-right: 2px dashed $layout-color-border;
}

#nav-menu-container {
  font-family: $base-font-family;
  color: black;
  text-decoration-thickness: $base-text-decoration-thickness;
  background-color: $layout-color-background;

  @media (min-width: $layout-responsive-nav-cutoff) {
    position: relative;
    z-index: 100;
    background-color: $layout-color-background;
  }

  @media (max-width: 90%) {
    position: absolute;
    z-index: 100;
    background-color: $layout-color-background;
  }
}

.menu-opts {
  padding-top: 0px;
  padding-bottom: 1px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration-style: wavy !important;
  text-decoration-thickness: 3px;
  color: black;
  font-size: 1.2rem !important;
  text-decoration-color: blue !important;

  &:hover {
    text-decoration-color: blue !important;
    text-decoration: underline;
    border: blue 2px dotted;
  }
}

#nav-trigger:checked ~ #nav-menu {
  display: block !important;
  position: relative !important;
  margin-top: 4.2rem;
  border: 1px dashed $layout-color-border;
  padding: 4% !important;
  padding-right: 5%;
  font-size: medium;
}

#nav-trigger:checked ~ .navbar-toggler-icon {
  display: hidden;
  cursor: pointer;
}

.navbar-toggler-icon {
  display: flex;
}

.link-area-lw {
  text-decoration: none;
  text-decoration-style: none;

  p,
  span {
    text-decoration: none;
    font-size: inherit;
  }

  .highlight pre {
    font-size: 0.8rem;
  }

  color: black !important;
}

#overlayed-link div {
  p,
  span {
    color: inherit;
    font-size: inherit;
  }
}

#link-area-lw div,
.my-hover-class {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background: rgba(0, 0, 255, 0.03);
  border: 3px dashed rgba(0, 0, 255, 0.03);

  a {
    background-color: rgba(0, 0, 255, 0) !important;
    color: black !important;
    text-decoration: none;
  }
}

#link-area-lw div,
.my-hover-class:hover {
  background-color: linear-gradient(
    rgba(0, 0, 255, 1),
    rgba(0, 0, 255, 0.4),
    rgba(0, 0, 255, 0.03),
    rgba(0, 0, 255, 0.9)
  ) !important;
  border: 3px dashed blue;

  a {
    background-color: rgba(0, 0, 255, 0) !important;
    color: black !important;
    text-decoration: none;
  }
}

.website-title {
  font-size: 1.75rem !important;
  line-height: auto;
  color: black;
}

.author-image {
  background-color: rgba(255, 0, 0, 0);
  transition: background-color 0.8s ease;
  transition-delay: 0.3s;
  padding-bottom: 1%;
}

#content {
  h1,
  h2,
  h3,
  h4 {
    font-family: "Latex Regular";
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: left;
    text-justify: auto;
    color: black;
    text-decoration-thickness: 0px;
  }

  blockquote {
    border-left: 4px solid $layout-color-border;
    font-style: italic;
    font-size: 0.8rem;
  }

  .footnotes {
    text-align: left;
  }
}
.cv-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
}

.cv-content-container {
  flex: 1;
  overflow-y: scroll;
  scroll-behavior: auto;
}

.cv-main {
  width: 100%;
  margin-top: 2px;
  border: 2px dashed blue;
}

.cv-iframe {
  overflow-y: scroll;
}
#site-footer {
  font-size: small;
  font-family: "Hack Nerd Font Mono";
  text-align: right;

  .container {
    border-top: 2px solid $layout-color-border;
    border-right: 2px dashed $layout-color-border;
    border-left: 2px dashed $layout-color-border;
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.2rem;
  }
}

.text-secondary {
  font-family: "Hack Nerd Font Mono";
  color: black !important;
  margin-bottom: 0.5rem;
}

.highlight pre {
  font-family: "Hack Nerd Font Mono";
  border: 1px dotted $layout-color-border;
  border-radius: 0.1rem;
  width: 95%;
  line-height: 1.1rem;
  margin: 0.5rem auto 1.25rem auto;
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: $layout-color-syntax-highlighting-background;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

ul {
  list-style: square;

  li::before {
    color: blue;
  }
}
