// $layout-color-border: #e9ecef !default;
$layout-color-border: black !default;
$layout-color-background: #fdfdfd !default;
$layout-color-syntax-highlighting-background: #f8f9fa !default;
// $layout-responsive-nav-cutoff: 768px !default; // Consider adjusting based on design needs
$layout-responsive-nav-cutoff: 1024px !default; // Consider adjusting based on design needs
$base-text-decoration-thickness: 5px !default;

html {

  // body,
  // header {
  //   border-bottom: 1px dashed $layout-color-border;
  // }

  header {
    border-bottom: 1px solid $layout-color-border;

    color: #000 !important;
    // text-decoration-thickness: $base-text-decoration-thickness;
    // color: $brand-color !important;
    // text-decoration: underline;
    // text-decoration-thickness: 2.5px;
    text-decoration-style: dotted;
    // text-decoration-color: $brand-color !important;
  }

  footer {
    border-top: 1px dashed $layout-color-border;

    .container {
      border-left: 1px dashed $layout-color-border;
      border-right: 1px dashed $layout-color-border;
    }
  }
}



a {
  // text-decoration-thickness: $base-text-decoration-thickness;
  color: $brand-color;
  text-decoration: underline;
  // text-decoration-thickness: 2.5px;
  text-decoration-style: dotted;
  // text-decoration-color: $brand-color !important;
}

#link {
  color: $brand-color !important;
}

// main {
//   #main {
//     border-left: 1px dashed $layout-color-border;
//     border-right: 1px dashed $layout-color-border;
//   }


// }

body {
  // border-left: 1px dashed $layout-color-border;
  // border-right: 1px dashed $layout-color-border;
  font-family: $base-font-family;
  background-color: $layout-color-background !important;
  // margin-top: 2%;

  // text-decoration-thickness: $base-text-decoration-thickness;
  .container {
    // border-bottom: 1px dashed $layout-color-border !important;
    border-left: 1px dashed $layout-color-border;
    border-right: 1px dashed $layout-color-border;
  }
}

header {
  border-bottom: 1px solid $layout-color-border;
  color: black;
}

#nav-header {
  font-family: "Latex Bold";
  color: black; // border-top: 3px dashed !important;;
  text-decoration-thickness: $base-text-decoration-thickness;
  // text-decoration-thickness: 5px
  // border-left: 1px dashed $layout-color-border;
  // border-right: 1px dashed $layout-color-border;

}


#nav-container {
  height: 4.5rem;
  border-left: 1px dashed $layout-color-border;
  border-right: 1px dashed $layout-color-border;
  // box-shadow: 1rem 1rem 2rem 2rem rgba(0, 0, 0, 0.975);
  // -moz-box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.4);
  // -webkit-box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.4);
  // box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.4);
}

#nav-menu-container {
  font-family: $base-font-family;
  // font-weight: "medium";
  color: black;
  text-decoration-thickness: $base-text-decoration-thickness;
  background-color: $layout-color-background;

  @media (min-width: $layout-responsive-nav-cutoff) {
    position: relative; // Adjust if needed for larger screens
    // z-index: 100;
    right: 0rem;
    // border: 1px solid $layout-color-border;
    // background-color: transparent;
    background-color: $layout-color-background;
  }

  @media (max-width: 80%) {
    //$layout-responsive-nav-cutoff - 1) {
    position: absolute;
    z-index: 100;
    // top: 0.1rem;
    right: 0rem;
    // border: 1px solid $layout-color-border;
    // border-radius: .25rem;
    background-color: $layout-color-background;
  }
}


#nav-trigger:checked~#nav-menu {
  display: block !important;
  // position: relative !important;
  // margin-bottom: -5%;
  border: 1px solid $layout-color-border;
  font-size: medium;
}

#nav-trigger:checked~.navbar-toggler-icon {
  // display: hidden;
}

.navbar-toggler-icon {
  // display: flex;
  // justify-content: center;
  // align-items: center;
}


#content-container {
  padding-top: 1.5rem;
  // border-top: 5px solid $layout-color-border !important;
  // border-top: 1px solid green !important;
}

#content {

  h1,
  h2,
  h3,
  h4 {
    font-family: "Latex Regular";
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  blockquote {
    border-left: 4px solid $layout-color-border;
    padding-left: 1rem;
    font-style: italic;
  }

  .footnotes {
    text-align: left;
  }
}

#site-footer {
  // border-top: 1px dashed $layout-color-border;

  font-size: small;
  font-family: "FiraCodeNerdFontMonoLight";
  text-align: right;

  // border-left: 1px dashed $layout-color-border;
  // border-right: 1px dashed $layout-color-border;

  .container {
    // border-bottom: 1px dashed $layout-color-border !important;
    border-right: 1px dashed $layout-color-border;
    border-left: 1px dashed $layout-color-border;
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.2rem;
  }
}

.text-secondary {
  // color: #555555 !important;
  color: black !important;
  margin-bottom: 0.5rem;
}

.highlight pre {
  border: 1px dotted $layout-color-border;
  // border-radius: .25rem;
  background-color: $layout-color-syntax-highlighting-background;
  padding: 0.75rem;
  margin-bottom: 1rem;
  white-space: break-spaces;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375); // Adjust if needed
  color: $brand-color;
}
