<footer id="site-footer">
  <div class="container">
    <!-- <div class="h5 pt-4">{{ site.title | escape }}</div> -->

    <div class="row">
      <!-- <div class="col col-lg-3">
        <ul class="list-unstyled">
          <li class="text-secondary">
            {% if site.author %}
            {{ site.author | escape }}
            {% else %}
            {{ site.title | escape }}
            {% endif %}
          </li>
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
        </ul>
      </div> -->
      <!-- {% if site.footer_icons %}
      <div class="col-6 col-lg-3">
        <ul class="list-unstyled">
          {% for footer_icon in site.footer_icons %}
          <li>
            <a href="{{ footer_icon.url }}">
              {% if footer_icon.icon %}
              <p>{{footer_icon}}</p>

              {% capture icon %}{% include social-icons/{{footer_icon.icon}}.svg %}{% endcapture %}
              <span class="align-middle text-secondary pr-2">{{ icon | strip }}</span>{% endif
              %}<span>{{ footer_icon.username }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} -->

      <!-- <ul class="social-media-list"> -->

      <!-- {% if site.social_links %}
         <div class="col-3 col-lg-3"> 
       <div class="footer-col"> 
      <ul class="list-unstyled">
        {%- for entry in site.social_links -%}
        <li>
          {%- include social-item.html item = entry -%}
        </li>
        {%- endfor -%}
      </ul>
      {% endif %} -->

      <!-- <div class="col-12 col-lg">
        <p class="text-secondary text-justify">{{ site.description | escape }}</p>
      </div> -->
      <!-- </div> -->
    </div>
    <p align="right" class="text-secondary" style="font-size: small;">© {{ site.time | date: '%Y' }} -
      {{ site.author | escape }}</p>
</footer>
