@charset "utf-8";

// Define defaults for each variable.


@font-face {
  font-family: "Latex Regular";
  src: url("../../assets/fonts/LM/LM-regular.ttf");
}

@font-face {
  font-family: "Latex Bold";
  src: url("../../assets/fonts/LM/LM-italic.ttf");
}


@font-face {
  font-family: "Geist Mono";
  src: url("../../assets/fonts/Geist/GeistMonoVF.ttf");
  font-weight: "medium";
}

@font-face {
  font-family: "FiraCode";
  src: url("../../assets/fonts/FiraCode/FiraCode-Medium.ttf");
  // font-weight: "medium";
}

$base-font-family: "Latex Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "FiraCode", "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size: 1rem !default; // using rem for scalability
$base-font-weight: 400 !default;
$small-font-size: 0.875rem !default; // using rem for scalability
$base-line-height: 1.5 !default;
$brand-color: #007bff !default;
$spacing-unit: 1.5rem !default; // using rem for scalability

$table-text-align: left !default;

// Base content width for small devices
$content-width: 100% !default;

// Breakpoints for different sizes
$breakpoint-palm: 600px !default;
$breakpoint-laptop: 800px !default;
$breakpoint-desktop: 1024px !default;

// Mobile-first approach using min-width
@mixin media-query($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem; // using rem for scalability
}

// Base styles
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

// Adjust content width and spacing for larger screens
@include media-query($breakpoint-palm) {
  .wrapper {
    max-width: $breakpoint-palm;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

@include media-query($breakpoint-laptop) {
  .wrapper {
    max-width: $breakpoint-laptop;
  }
}

@include media-query($breakpoint-desktop) {
  .wrapper {
    max-width: $content-width;
  }
}



@import "minima-reboot/layout",
"minima-reboot/syntax-highlighting"
;
