@charset "utf-8";

// Define defaults for each variable.


@font-face {
  font-family: "Latex Regular";
  src: url("../../assets/fonts/LM/LM-regular.ttf");
}

@font-face {
  font-family: "Latex Bold";
  src: url("../../assets/fonts/LM/LM-italic.ttf");
}


@font-face {
  font-family: "Geist Mono";
  src: url("../../assets/fonts/Geist/GeistMonoVF.ttf");
  font-weight: "medium";
}

@font-face {
  font-family: "FiraCode";
  src: url("../../assets/fonts/FiraCode/FiraCode-Medium.ttf");
  // font-weight: "medium";
}

$base-font-family: "Latex Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "FiraCode", "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$brand-color: #007bff !default;
$spacing-unit: 25px !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

$on-medium: $on-palm !default;
$on-large: $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}



@import "minima-reboot/layout",
"minima-reboot/syntax-highlighting"
;
