@charset "utf-8";

@font-face {
  font-family: "Latex Regular";
  src: url("../../assets/fonts/LM/LM-regular.ttf");
}

@font-face {
  font-family: "Latex Bold";
  src: url("../../assets/fonts/LM/LM-italic.ttf");
}


@font-face {
  font-family: "Geist Mono";
  src: url("../../assets/fonts/Geist/GeistMonoVF.ttf");
  font-weight: "medium";
}

@font-face {
  font-family: "FiraCode";
  src: url("../../assets/fonts/FiraCode/FiraCode-Medium.ttf");
  // font-weight: "medium";
}

@font-face {
  font-family: "FiraCodeNerdFontMonoLight";
  src: url("../../assets/fonts/FiraCode/FiraCodeNerdFontMono-Light.ttf");
  // font-weight: "medium";
}

@font-face {
  font-family: "FiraCodeNerdFontMono";
  src: url("../../assets/fonts/FiraCode/FiraCodeNerdFontMono-Medium.ttf");
  // font-weight: "medium";
}

@font-face {
  font-family: "Hack Nerd Font Mono";
  src: local(Hack Nerd Font Mono Regular),
    url("/assets/fonts/Hack/HackNerdFontMono-Regular.ttf") format("truetype");
  font-stretch: normal;
  // font-style: normal;
  // font-weight: 700;
}

$base-font-family: "Latex Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Hack Nerd Font Mono", "FiraCodeNerdFontMono", "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size: 1.0rem !default;
$base-font-weight: 500 !default;
$small-font-size: 0.875rem !default;
$base-line-height: 1.35 !default;
$brand-color: blue !default;
$spacing-unit: 1.55rem !default;
// $base-text-decoration-thickness: 1px !default;
$table-text-align: left !default;

// Base content width for small devices
$content-width: 100% !default;

// Breakpoints for different sizes
$breakpoint-palm: 600px !default;
$breakpoint-laptop: 800px !default;
$breakpoint-desktop: 1400px !default;

// Mobile-first approach using min-width
@mixin media-query($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

// Base styles
body,
pre {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

// Adjust content width and spacing for larger screens
@include media-query($breakpoint-palm) {
  .wrapper {
    max-width: $breakpoint-palm;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

@include media-query($breakpoint-laptop) {
  .wrapper {
    max-width: $breakpoint-laptop;
  }
}

@include media-query($breakpoint-desktop) {
  .wrapper {
    max-width: $content-width;
  }
}

@import "minima-reboot/layout",
"minima-reboot/syntax-highlighting"
;
