<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body style="display: flex; flex-direction: column; min-height: 100vh; margin: auto">

    {% include header.html %}
    <div id="content-container" class="container" style="flex: 1; background: black; padding: 2%">
        <main id="main" aria-label="Content" style="width: 100%; ">
            <br />
            <p>
                <code style="color: white; font-size: large;">
                    404
                </code>
            </p>
            <p>
                <code style="color: white">

                        ACHTUNG! ALLES TURISTEN UND NONTEKNISCHEN LOOKENPEEPERS! DAS KOMPUTERMASCHINE IST NICHT FÜR DER GEFINGERPOKEN UND MITTENGRABEN! ODERWISE IST EASY TO SCHNAPPEN DER SPRINGENWERK, BLOWENFUSEN UND POPPENCORKEN MIT SPITZENSPARKEN. IST NICHT FÜR GEWERKEN BEI DUMMKOPFEN. DER RUBBERNECKEN SIGHTSEEREN KEEPEN DAS HÄNDER IN DAS POCKETS MUSS. ZO RELAXEN UND WATSCHEN DER BLINKENLICHTEN.
                    </code>
            </p>
        </main>
    </div>
    {% include footer.html %}

</body>

</html>
