---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body class="cv-body">
    {% include header.html %}
    <div id="content-container" class="container cv-content-container">
        <main id="main" aria-label="Content" class="cv-main">
            <iframe src="../assets/lennard-wolf_cv_2023-12-28" width="100%" height="1000px" align="center"
                loading="lazy" title="Lennard Wolf CV" class="cv-iframe"></iframe>
            <br />
        </main>
    </div>

    {% include footer.html %}

</body>

</html>
