---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body style="display: flex; flex-direction: column; min-height: 100vh; margin: auto">

    {% include header.html %}
    <div id="content-container" class="container" style="flex: 1; overflow-y: scroll; scroll-behavior: auto;">
        <main id="main" aria-label="Content" style="width: 100%; margin-top: 2px; border: 2px dashed blue; ">
            <iframe src="../assets/lennard-wolf_cv_2023-12-28.pdf" width="100%" height="1000px" align="center"
                loading="lazy" title="Lennard Wolf CV" style="overflow-y: scroll"></iframe>
            <br />
        </main>
    </div>

    {% include footer.html %}

</body>

</html>
