---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body style="display: flex; flex-direction: column; min-height: 100vh; margin: auto">

  {% include header.html %}
  <div id="content-container" class="container" style="flex: 1; ">
    <main id="main" aria-label="Content" style="width: 98%; margin-top: 1%; margin-left: 1%; margin-right: 1% ">
      {{ content }}
      <br />
    </main>
  </div>

  {% include footer.html %}

</body>

</html>
