---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header class="pt-2 pb-3">
    <h2 itemprop="name headline"> <i>{{ page.title | escape }}</i></h2>
    <p class="text-secondary" style="font-family: 'Hack Nerd Font Mono'; font-size: small;">
      {% if page.author %}
      {% if page.author_url %}
      <a href="{{ page.author_url }}">
        {% endif %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
            {{ page.author }}</span></span>
        {% if page.author_url %}
      </a>
      {% endif %}
      &bull;
      {% endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima_reboot.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
    </p>
  </header>

  <div class="text-justify" itemprop="articleBody" id="content"
    style="padding-top: 2%; padding-left: 2%; padding-right: 2%;">
    {{ content }}
  </div>

  {% for tag in post.tags %}
  {% assign tag_slug = tag | slugify: "raw" %}
  <a class="tag-link" href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }} rel="category tag">
    #{{ tag }}
  </a>
  {% endfor %}

  <!-- <span>[
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
    {% endfor %}
  ]</span> -->

  <!-- {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %} -->
</article>
